___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [4]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [5]:
pwd

'C:\\Users\\azarb\\Downloads\\Refactored_Py_DS_ML_Bootcamp-master\\04-Pandas-Exercises'

In [32]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [38]:
sal[25:400][['TotalPayBenefits',"JobTitle"]]

     TotalPayBenefits                                      JobTitle
25          267992.59                               CHIEF OF POLICE
26          265784.56                     CAPTAIN, FIRE SUPPRESSION
27          265463.46            BATTALION CHIEF, (FIRE DEPARTMENT)
28          264074.60          DEPUTY CHIEF III (POLICE DEPARTMENT)
29          261366.14  DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
..                ...                                           ...
395         191522.51                                  MANAGER VIII
396         191404.96               CAPTAIN III (POLICE DEPARTMENT)
397         191348.03                            POLICE OFFICER III
398         191319.45       CHIEF PROBATION OFFICER, JUVENILE COURT
399         191287.06              SUPERVISING PHYSICIAN SPECIALIST

[375 rows x 2 columns]

In [2]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [6]:
sal.mean()

Id                  74327.500000
BasePay             66325.448841
OvertimePay          5066.059886
OtherPay             3648.767297
Benefits            25007.893151
TotalPay            74768.321972
TotalPayBenefits    93692.554811
Year                 2012.522643
Notes                        NaN
Status                       NaN
dtype: float64

**What is the average BasePay ?**

In [7]:
sal.Av

AttributeError: 'DataFrame' object has no attribute 'Av'

** What is the highest amount of OvertimePay in the dataset ? **

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
t

** How much does JOSEPH DRISCOLL make (including benefits)? **

** What is the name of highest paid person (including benefits)?**

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

** How many unique job titles are there? **

** What are the top 5 most common jobs? **

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

** How many people have the word Chief in their job title? (This is pretty tricky) **

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

# Great Job!